---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug";
import { Image } from "astro:assets";
import  Dream_Website  from "/src/assets/Dream_Website.png";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);

---


<BaseLayout sideBarActiveItemID="home">
  <script src="../scripts/script.js"></script>
  <script src="../scripts/script.ts"></script>
  <div class="container-above pb-12 mt-5">
    <div class="text-1xl py-3 font-bold"><i>Hey there👋<i></i></div>
    <div class="text-5xl font-bold"></div>
    <div class="rotating-text text-5xl">
      <p>Do you need help with</p>
      <p>
        <span class="word alizarin py-1">HubSpot</span>
        <span class="word wisteria py-1">Branding</span>
        <span class="word peter-river py-1">Web Development</span>
        <span class="word emerald py-1">Web Design</span>
        <span class="word sun-lower py-1">Blogging</span>
        
      </p>
    </div>
    <div class="text-1xl py-3 font-bold"><i>I'm a Software Engineer and Entrepreneur</i></div>
    <div class="py-2">
      <text class="text-lg">
        Whether you need a portfolio, business website, blog, 
        online store, or landing page, 
        I have the skills and experience to bring your vision to life.
      </text>
    </div>
    <div class="mt-8">
      <a class="btn SlideLeftCard" href="https://www.linkedin.com/in/jefferson-nwokoro" target="_blank"> Let's connect!</a>
      <a href="#discount" target="_blank" class="btn btn-outline ml-5 SlideRightCard">
        Get Discount
      </a>
    </div>
  </div>

  <div class="chat chat-end custom-window m-10 lg:SlideRightCard">
    <div class=" chat-bubble justify-center">
      <h1 class="txt-type text-2xl justify-center" data-wait="1000" data-words='["Hey! I am Jefferson; Explorer, writer, designer, web developer and founder of Openchoicehub.com ...........", "And this is my Portfolio."]'></h1>
    </div>
  </div>
</br>
</br>


  <div class="card glass w-96 animate-card">
    <figure>
        <Image 
        src={Dream_Website} 
        alt="e-commerce website example"
        width={370}
        />
    </figure>
    <div class="card-body">
      <h2 class="card-title justify-end" style="text-align: center;">Let me build your dream website for you</h2>
      <div class="card-actions justify-end">
      </div>
    </div>
  </div>

</br>
</br>
  <p class="text12 animate-card text-center">I build Lightning Fast Websites</p>

<section class="module stats flex flex-col justify-center items-center" id="counter">
  <div class="container mx-auto flex flex-col justify-center items-center">
    <div class="row w-full animate-card">
      <div class="col-sm-12 m-auto font-bold text-3xl text-center">
        <h1>This Website's Performance Stats</h1>
      </div>
    </div>
    
    <div class="row flex flex-col sm:flex-row justify-center w-full">
      <div class="col-sm-4 flex justify-center w-full mb-4 sm:mb-0">
        <div class="counter pt-3 text-center animate-card">
          <div class="number animate-card"><span class="count">3</span><sub>mb</sub></div>
          <div class="title mx-auto animate-card">Page Size</div>
          <p>Optimal performance</p>
        </div>
      </div>
      <div class="col-sm-4 flex justify-center w-full mb-4 sm:mb-0">
        <div class="counter pt-3 text-center animate-card">
          <div class="number animate-card"><span class="count">22</span></div>
          <div class="title mx-auto animate-card">Page Requests</div>
          <p>Improved Speed</p>  
        </div>
      </div>
      <div class="col-sm-4 flex justify-center w-full">
        <div class="counter pt-3 text-center animate-card">
          <div class="number animate-card"><span class="count">2</span><sub>sec</sub></div>
          <div class="title mx-auto animate-card">Page Speed</div>
          <p>Fastest Web Interaction Time</p>
        </div>
      </div>
    </div>
  </div>
</section>

<br><br>

<div class="flex-col justify-center items-center text-center animate-card">
  <button class="btn btn-accent"><a href="https://website.grader.com/tests/Jefferson.openchoicehub.com?__hstc=20629287.c1a21421ad13d01fe31aee546e17e1df.1720123439989.1720123439989.1720123439989.1&__hssc=20629287.3.1720123439990&__hsfp=3517338624&hubs_content=www.hubspot.com%2F&hubs_content-cta=Website+Grader&_conv_v=vi%3A1*sc%3A14*cs%3A1720123460*fs%3A1696186699*pv%3A36*seg%3A%7B10031564.1-10034364.1-10034366.1%7D*exp%3A%7B100330256.%7Bv.1003131869-g.%7B%7D%7D-100341862.%7Bv.1003162478-g.%7B%7D%7D-100342007.%7Bv.1003162876-g.%7B%7D%7D%7D*ps%3A1712087189&_conv_s=si%3A14*sh%3A1720123459515-0.029143085429142346*pv%3A1" target="_blank">Test it out for yourself</a></button>
  <div>Website Grader by HubSpot</div>
</div>

<br><br>

<section class="flex flex-col items-center justify-center space-y-8 sm:space-y-0 sm:space-x-8 sm:flex-row">
  <div class='bar-wrapper text-2xl text-primary SlideLeftCard'>
    <div class='bar text-accent-content'>
      <div class='bar-info PERFORMANCE' data-total='100'>
        PERFORMANCE
        <span class='percent'>100</span>
      </div>
    </div>

    <div class='bar'>
      <div class='bar-info css text-accent-content' data-total='100'>
        SEO
        <span class='percent'>100</span>
      </div>
    </div>

    <div class='bar'>
      <div class='bar-info js text-accent-content' data-total='80'>
        MOBILE
        <span class='percent'>80</span>
      </div>
    </div>
    
    <div class='bar'>
      <div class='bar-info ps text-accent-content' data-total='100'>
        SECURITY
        <span class='percent'>100</span>
      </div>
    </div>
  </div>
  <div class="svg-container flex justify-center text-center SlideRightCard">
    <svg class="radial-progress bg-neutral glass w-32 h-32" data-countervalue="90" viewBox="0 0 80 80">
      <circle class="bar-static" cx="40" cy="40" r="35"></circle>
      <circle class="bar--animated" cx="40" cy="40" r="35" style="stroke-dashoffset: 217.8;"></circle>
      <text class="countervalue start" x="50%" y="57%" transform="matrix(0, 1, -1, 0, 80, 0)">90%</text>
    </svg>
  </div>
  <h3>Total Score</h3>
</section>
</br>
</br>
  <div class=" card lg:card-side bg-base-100 shadow-xl">
    <figure>
      <div class="card-left SlideLeftCard">
        <h1 class='gold'>Gold</h1>
        <p><span class="dollar">$</span>75</p>
    </div>
    </figure>
    <div class="card-body SlideRightCard">
      <h2 class="card-title" id="discount">Unbeatable Discount Now Available!</h2>
      <p>To build my portfolio I'll help build your website for
        70% off the original price.
          <li>Includes up to 10 pages.</li>
          <li>advanced CMS integration.</li>
          <li>e-commerce setup</li>
          <li> and performance optimization.</li>
      </p>

  
      <div class="card-actions justify-end">
        <button class="btn btn-primary">Coming soon</button>
      </div>
    </div>
  </div>
</div>
</br>
</br>
</br>


  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

<div class="SlideLeftCard">
  <HorizontalCard
    title="Openchoice Hub"
    img="/post_img.webp"
    desc="Explore my skills and performance as you navigate through my website, which I have been managing since July 2023"
    url="https://smallbiz.openchoicehub.com/"
    badge="MY COMPANY"
  />
  </div>
  <div class="divider my-0"></div>

  <div class="SlideRightCard">
  <HorizontalCard
    title="Blog Branding"
    img="/post_img.webp"
    desc="Using my brand colours and fonts to create a one of a kind blog images for my website"
    url="https://www.canva.com/design/DAGE7N_r_pg/mZsuTYKpFYjATI3YS1kXGQ/edit?utm_content=DAGE7N_r_pg&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton"
    badge="MY COMPANY"
  />
  </div>
  <div class="divider my-0"></div>

  <div class="SlideLeftCard">
  <HorizontalCard
    title="Instagram Post"
    img="/post_img.webp"
    desc="Sample Instagram post with unique branding for my company"
    url="https://www.canva.com/design/DAGF4drig84/orjv6xP8zPhH8FsahhC7xA/edit?utm_content=DAGF4drig84&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton"
    badge="MY COMPANY"
  />
  </div>
  <div class="SlideRightCard">
  <HorizontalCard
    title="Github Repositories"
    img="/post_img.webp"
    desc="More live projects coming soon! In the meantime, explore my 15+ GitHub repositories to see more of my projects and skill set."
    url="https://github.com/Jefferson-chidiox"
    badge="New"
  />
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  <div class="SlideLeftCard">
    <HorizontalCard
      title="Comparing Elementor and HubSpot's CMS Hub: A Detailed Analysis"
      img="/post_img.webp"
      desc="Choosing the right content management system (CMS) is crucial for any business aiming to establish a strong online presence. Two popular options are Elementor, a page builder for WordPress, and..."
      url="https://smallbiz.openchoicehub.com/blog/comparing-elementor-and-hubspots-cms-hub-a-detailed-analysis"
      badge="Company Blog"
    />
    </div>
    <div class="SlideRightCard">
      <HorizontalCard
        title="The New AI-Powered Sales Tool for Small Businesses"
        img="/post_img.webp"
        desc="Are you feeling frustrated with the inefficiencies caused by disjointed systems, leaky pipelines, and manual busywork that is negatively impacting your team's performance?... "
        url="https://smallbiz.openchoicehub.com/blog/the-new-sales-hub"
        badge="Company Blog"
      />
      </div>
      <div class="SlideRightCard">
        <HorizontalCard
          title="Newsletters"
          img="/post_img.webp"
          desc="Personal blogs are coming soon! In the meantime, explore my company's blogs if you're an enterprenuer or a small business owner in need of helpful marketing tips and tricks"
          url="https://smallbiz.openchoicehub.com/blog"
          badge="New"
        />
        </div>
  <!-- {
    last_posts.map((post) => (
      <>
        <div class="SlideRightCard">
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        </div>
        <div class="divider my-0" />
      </>
    ))
  } -->

</BaseLayout>
